@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.App {
    text-align: center;
    color: $fontColor;
    font-family: 'Nunito', sans-serif;
}

.app-header {
    font-size: 2em;
    margin: 25px auto;
}

.center {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unselectable {
    pointer-events: none;
}

.sort-panel {
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    width: max-content;
    @include neumorphic(5px);
}

.pipe-container {
    height: $pipeHeight;
    width: $pipeWidth;
    margin: 2px;
    padding: 10px 2px 10px 2px;
    border-radius: 2px;
    display: inline-block;
    @include neumorphic(2px);
}

@for $toPercent from 0 through 100 {
    $toPx: (0.01 * $toPercent * $pipeHeight);
    $fillColor: hsl(0.01 * $toPercent * 360, 100%, 50%);
    .pipe-#{$toPercent} {
        box-shadow: inset 0px (-1 * $toPx) $fillColor;
        margin: 0 auto;
        height: 100%;
        width: 1px;
        transition: box-shadow .1s cubic-bezier(.25, .25, .25, 1.15);
    }
}

.buttons-container {
    label {
        display: inline-block;
    }
    section {
        display: inline-block;
    }
    button {
        color: $fontColor;
        font-family: 'Nunito', sans-serif;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    .sorting-algorithms button {
        @include neumorphic(5px);
    }
    .sorting-options button {
        @include neumorphic-inverse(5px);
    }
    .list-size-input {
        transform: rotate(90deg);
    }
}