@import './variables.scss';

.App {
    text-align: center;
}

.center {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unselectable {
    pointer-events: none;
}

@for $toPercent from 0 through 100 {
    $toPx: (0.01 * $toPercent * $pipeHeight);
    .pipe-#{$toPercent} {
        height: $pipeHeight;
        width: $pipeWidth;
        margin: 0.5px;
        display: inline-block;
        box-shadow: inset 0px (-1 * $toPx) $pipeFillColor;
        transition: box-shadow .1s cubic-bezier(.25, .25, .25, 1.15);
    }
}