@import './variables.scss';

.dial {
  $size: 100px;
  border-radius: 50%;
  width: $size;
  height: $size;
  position: relative;
  @include neumorphic(5px);
  
  .dial-value-container {
    z-index: -10;
    text-align: center;
    position: absolute;
    width: 100%;
    top: ($size / 2) - 10px;

    .dial-value {
      z-index: 0;
      width: 100%;
      padding-left: 7px;
      text-align: center;
      border: none;
      background: none;
      font-family: $fontFamily;
      color: $fontColor;
    }
  }
  
  .dial-stroke {
    $strokes: 12;
    $pad: 2px;
    z-index: -10;
    width: 1px;
    height: 10%;
    position: absolute;
    margin: 0 auto;
    top: calc(50% - 5% - #{$pad});
    padding: $pad;
    left: calc(50% - #{$pad});
    @include neumorphic($pad);
    @for $i from 1 through $strokes {
      $angle: 360 * $i / $strokes;
      $strokeColor: hsl($angle, 100%, 50%);
      &:nth-of-type(#{$i}) {
        transform: rotate(#{$angle}deg) translate($size / 3) rotate(90deg);
      }
      .dial-stroke-content-#{$i} {
        z-index: -10;
        width: 100%;
        height: 100%;
        background-color: $strokeColor;
      }
    }
  }
}


